<div id="TaskFirstSolution">
    <form method="post">
        <p>
            <label>Первое целое число: </label>
            <input type="text" name="FirstNumber" />
        </p>
        <p>
            <label>Второе целое число: </label>
            <input type="text" name="SecondNumber" />
        </p>
        <p>
            <label>Третье целое число: </label>
            <input type="text" name="ThirdNumber" />
        </p>
        <p>
            <input type="submit" value="Преобразовать" />
        </p>
        <p>
            <label>Итого: </label>
            <label>@ViewBag.H</label>
        </p>
    </form>
</div>
