<div id="TaskSecondSolution">
    <form method="post">
        <p>
            <label>Первая точка</label>
            <label>X: </label>
            <input type="text" name="Pos1_x" />
            <label>Y: </label>
            <input type="text" name="Pos1_y" />
        </p>
        <p>
            <label>Вторая точка</label>
            <label>X: </label>
            <input type="text" name="Pos2_x" />
            <label>Y: </label>
            <input type="text" name="Pos2_y" />
        </p>
        <p>
            <label>Третья точка</label>
            <label>X: </label>
            <input type="text" name="Pos3_x" />
            <label>Y: </label>
            <input type="text" name="Pos3_y" />
        </p>
        <p>
            <input type="submit" value="Вычислить" />
        </p>

        <p>
            <label>Периметр: </label>
            <label>@ViewBag.perimeter</label>
        </p>
        <p>
            <label>Площадь: </label>
            <label>@ViewBag.sqare</label>
        </p>
        <p>
            <label>Пересечение медиан: </label>
            <label>@ViewBag.center</label>
        </p>
    </form>
</div>